@use "base/variables" as v;
@use "base/mixins" as m;

.no-wrap {
  @include m.tablet {
    white-space: nowrap;
  }
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.w-full {
  width: 100%;
}

.gradient__01 {
  width: 1013px;
  height: 1013px;
  border-radius: 1013px;
  background: #002853;
  filter: blur(282px);

  position: absolute;
  z-index: 0;
  left: -40%;
  bottom: -1200%;
}

.gradient__02 {
  width: 285px;
  height: 285px;
  border-radius: 285px;
  background: #0f6bcd;
  filter: blur(107px);

  position: absolute;
  z-index: 0;

  left: 23%;
  top: 67%;
  @media (min-width: 530px) {
    left: 33%;
    top: 63%;
  }
  @media (min-width: 900px) {
    left: 67%;
    top: 33%;
  }
}

.gradient__03 {
  width: 701px;
  height: 496px;
  border-radius: 701px;
  background: #072d56;
  filter: blur(282px);

  position: absolute;
  z-index: 0;
  right: 0%;
  top: 0%;
}

.gradient__04 {
  width: 581px;
  height: 410px;
  border-radius: 581px;
  background: #0f4279;
  filter: blur(60px);

  position: absolute;
  z-index: 0;
  left: -37%;
  top: -37%;
}

.gradient__05 {
  width: 623px;
  height: 558px;
  border-radius: 623px;
  background: #1b78de;

  filter: blur(300px);
  @include m.tablet {
    filter: blur(100px);
  }

  position: absolute;
  z-index: 0;
  right: -37%;
  top: 67%;
}

.gradient__06 {
  width: 777px;
  height: 777px;
  border-radius: 777px;
  background: #07325f;
  filter: blur(282px);
  position: absolute;
  z-index: 0;
  top: -60%;
  left: -50%;
}
