@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  line-height: normal;
  /*START| OBSERVATION */
  background: v.$bg;
  /*END| OBSERVATION */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
